* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    color: white;
}
.nav-main{
    height: 78px;
    background-color: rgb(179, 133, 133);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-text{
    display: flex;
    padding: 30px;
}
.nav-cart{
    padding: 30px;
}
span{
    color: rgb(0, 0, 0);
    font-size: 25px;
}